@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
}

body {
  background-color: #000000;
  display: grid;
  grid-template-columns: auto 0px;
}

.search {
  border-radius: 5px;
  background-color: #333;
}

.search input {
  background-color: #333;
  color: white;
  padding: 15px;
  font-size: large;
  border: none;
  outline: none;
}

textarea {
  border-radius: 15px;
  background-color: #333;
  color: white;
  padding: 15px;
  font-size: large;
  border: none;
  outline: none;
}

button[type="search"] {
  text-indent: -999px;
  overflow: hidden;
  width: 40px;
  padding: 0;
  margin: 0;
  border: 1px solid transparent;
  border-radius: inherit;
  background: transparent
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E")
    no-repeat center;
  cursor: pointer;
  opacity: 0.8;
  filter: invert(1);
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-clear-button {
  filter: invert(100%) saturate(400%) hue-rotate(300deg);
}

.textAreaBtn {
  border: none;
  background-color: white;
  border-radius: 10px;
  height: 30px;
  margin: 5px;
}

.wrap {
  text-align: center;
}

.center-block {
  display: inline-block;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-blue {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: #0074e4;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin: 4px;
}
.btn-red {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: #e61717;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin: 4px;
}
.search textarea {
  width: 100%;
  height: auto;
  padding: 15px;
  font-size: large;
  border: none;
  outline: none;
  background-color: #333;
  color: white;
}
.btn-yellow {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: #c09731;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin: 4px;
}
.btn-purple {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: #a44ec3;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin: 4px;
}
.btn-green {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: #1db954;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin: 4px;
}

.btn-up {
  display: inline-block;
  text-align: center;
  width: 1em;
  position: relative;
  left: 50%;
  -webkit-appearance: none;
}

.checkmark {
  border-radius: 50%;
  display: block;
  stroke-width: 2;
  stroke: white;
  stroke-miterlimit: 10;
  stroke-dashoffset: 0;
  z-index: 2;
}

textarea {
  resize: none;
}

.alert-danger {
  background-color: #e53e3e;
  color: white;
  border: none;
}

.buttonSpecs {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.buttonSpecs svg {
  fill: white; /* İkon rengini değiştirmek için */
  width: 20px; /* İkon genişliğini değiştirmek için */
  height: 20px; /* İkon yüksekliğini değiştirmek için */
}

a:hover {
  opacity: 0.5;
  transition: opacity 0.3s ease-in-out;
}

.hoverOp:hover {
  opacity: 0.7;
  transition: opacity 0.3s ease-in-out;
}
